.header-top {
    border-bottom: 1px solid $fcolor;
    padding: 18.5px $pm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-top-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-contacts__social-links {
    margin-right: 55px;
    ul {
        display: flex;
    }
    li {
        height: 40px;
        line-height: 40px;
        margin-left: 5px;
    }
    li:first-child {
        margin-left: 0;
    }

    li:nth-child(n + 2) {
        margin-left: 5px;
    }
}

.header-top-contacts__phone-links {
    a {
        display: flex;
        align-items: center;
    }

    span {
        margin: 0 10px;
    }
}

.header-top-navbar {
    display: flex;

    ul {
        display: flex;
    }
    li:nth-child(n + 2) {
        margin-left: 15.7px;
    }
    a {
        text-transform: uppercase;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            width: 10%;
            height: 3px;
            margin: 0 auto;
            background-color: $bgcolor;
            opacity: 0;
            transition-duration: 0.3s;
        }
    }

    a:hover {
        &::after {
            width: 100%;
            opacity: 1;
        }
    }
}

a.header-top-navbar-active::after {
    width: 100%;
    opacity: 1;
}

@media (max-width: 1280px) {
    .header-top-contacts {
        flex-basis: 100%;
    }
    .header-top-navbar {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 640px) {
    .header-top {
        padding: 10px $pm;
        font-size: 0.75rem;
    }

    .header-top-navbar {
        flex-basis: 100%;
        ul {
            margin: 0 auto;
        }
    }
}
@media (max-width: 518px) {
    .header-top-contacts {
        flex-direction: column;
    }
    .header-top-contacts__social-links {
        margin-right: 0;
    }
    .header-top-contacts__phone-links {
        margin-bottom: 5px;
    }
}
@media (max-width: 428px) {
    .header-top-navbar {
        ul {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
